<section data-ng-controller="RequestTokensController" data-ng-init="find()">
    <div class="page-header">
        <h1>Request tokens</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="requestToken in requestTokens" data-ng-href="#!/request-tokens/{{requestToken._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="requestToken.created | date:'medium'"></span>
				by
				<span data-ng-bind="requestToken.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="requestToken.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!requestTokens.$resolved || requestTokens.length">
    	No Request tokens yet, why don't you <a href="/#!/request-tokens/create">create one</a>?
    </div>
</section>