<section data-ng-controller="AdminUserController" data-ng-init="find()">
    <div class="page-header">
        <h1>Users</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="user in users" data-ng-href="#!/admin/users/{{user._id}}" class="list-group-item">
            <small class="list-group-item-text">
				Username:
				<span data-ng-bind="user.username | date:'medium'"></span>
                <br />
				Name:
				<span data-ng-bind="user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="user.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users found in database.
    </div>
</section>
