<section data-ng-controller="AdminOauthClientController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="oauthClient.name"></h1>
        id(internal): <span data-ng-bind="oauthClient._id"></span>
        <br>
		Public key: <span data-ng-bind="oauthClient.clientId"></span>
        <br>
        Secret key: <span data-ng-bind="oauthClient.clientSecret"></span>
		<br>
		allowedDomainURL: <span data-ng-bind="oauthClient.allowedDomainURL"></span>
	</div>
	<script>
		console.log(authentication.user._id == oauthClient.user._id,'dadasda');
	</script>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == oauthClient.owner_id))">
		<a class="btn btn-primary" href="/#!/oauth-clients/{{oauthClient._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="oauthClient.created | date:'mediumDate'"></span>
			by
		</em>
	</small>
</section>
