{% extends '../layout.server.view.html' %}
{% block content %}
<h1>Do you allow this app to act on behalf of you?</h1>
<pre>
    <form action="/oauth/authorize/decision" method="POST">
        <input type="hidden" name="transaction_id" value="{{transactionId}}"/>
        <div>
            <input type="submit" value="Allow" id="allow"/>
            <input type="submit" value="Deny" name="cancel" id="deny"/>
        </div>
    </form>
	{{error}}
</pre>
{% endblock %}
<script>
    window.user = !{{user}};
</script>
