<section data-ng-controller="OauthClientsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Oauth clients</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="oauthClient in oauthClients" data-ng-href="#!/oauth-clients/{{oauthClient._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="oauthClient.created | date:'medium'"></span>
				by
				<span data-ng-bind="oauthClient.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="oauthClient.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!oauthClients.$resolved || oauthClients.length">
    	No Oauth clients yet, why don't you <a href="/#!/oauth-clients/create">create one</a>?
    </div>
</section>